:root {
    color-scheme: light dark;
}

body {
    width: 220px;
    margin: 0;
    padding: 12px;

    font-family: system-ui;
}

main {
    display: grid;
    gap: 6px;
}

h1 {
    margin: 0;
    font-size: 15px;
}

p {
    margin: 0;
    font-size: 12px;
}

@media (prefers-color-scheme: dark) {
    /* Dark Mode styles go here. */
}
